@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">image appservices</h1>
    <iframe src="https://gifer.com/embed/7wbx" width=480 height=402.581 frameBorder="0" allowFullScreen></iframe><p><a href="https://gifer.com">via GIFER</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
